@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #424551;
  line-height: 1.6;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.section-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;

  margin-bottom: 40px;
}

.about {
  margin-bottom: 48px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #1e212c;

  margin-bottom: 24px;
}

.you-learn li {
  padding-left: 32px;

  background: url(../img/icons/check.svg) 0 6px no-repeat;
}

.you-learn li:not(:last-child) {
  margin-bottom: 4px;
}

.about-course {
  margin-bottom: 183px;
}

.curator-title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #1e212c;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.course-curator .section-title {
  margin-bottom: 16px;
}

.position {
  font-size: 20px;
  line-height: 1.5;
  color: #787a80;
  margin-bottom: 32px;
}

.course-curator li:nth-child(1)::before {
  content: '';
  background: url('../img/icons/star-rate.svg') 0 0 no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
}

.course-curator li:nth-child(2)::before {
  content: '';
  background: url('../img/icons/play-courses.svg') 0 0 no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
}

.course-curator li:nth-child(3)::before {
  content: '';
  background: url('../img/icons/profile-students.svg') 0 0 no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
}

.course-curator ul {
  margin-bottom: 32px;
}

.course-curator li:not(:last-child) {
  margin-bottom: 4px;
}

/* .course-curator .text {
  margin-bottom: 40px;
} */

.course-curator {
  margin-bottom: 100px;
}

/* --------------- Pseudo-classes ------------------ */

.navigation {
  background-color: #cdd0d6;
  padding: 15px 0;
  margin-bottom: 25px;
  text-align: center;
}

.hw-nav .item {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #1e212c;
  /* display: inline-block; */
  margin-right: 50px;
}

.hw-nav .item:hover {
  color: #2196f3;
}
.examples-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: tomato;
  text-align: center;
  margin-bottom: 25px;
}

.examples .title {
  text-transform: uppercase;
}

.examples .lower {
  margin-left: 15px;
  margin-right: 15px;
}

.lower {
  text-transform: lowercase;
}

.hover:hover {
  background-color: #000;
  color: tomato;
}

.hover .vis-opa {
  background-color: #7a956b;
  color: #fff;
  padding: 15px;
}

.vis-opa {
  visibility: hidden;
  opacity: 0;
}

.hover:hover .vis-opa {
  visibility: visible;
  opacity: 1;
}

.hover {
  outline: 1px solid #1e212c;
  margin-bottom: 45px;
}

ul ul {
  display: none;
}

ul li:hover ul {
  display: block;
}

/* ul p:hover + ul {
  display: block;
} */

.link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

.link:hover {
  color: green;
  text-decoration: underline;
}

.link:active {
  color: red;
}
div[id] {
  margin-bottom: 100px;
}

.visited .link:visited {
  color: red;
}

.focus .link:focus {
  outline: 10px solid red;
}

.block {
  background-color: #1cc27d;
  color: #fff;
  padding: 15px;
  display: none;
}

.block:target {
  display: block;
}

.examples-text {
  background-color: #34885d;
  padding: 15px;
  color: #fff;
  line-height: 120%;
}

/* .examples-text p {
  margin-bottom: 15px;
} */

.first-child p:first-child {
  color: red;
  text-transform: uppercase;
}

.first-child p:last-child {
  color: red;
  text-transform: uppercase;
}

.first-of-type p:first-of-type {
  color: red;
  text-transform: uppercase;
}

.first-of-type p:last-of-type {
  color: red;
  text-transform: uppercase;
}

/* .nth-child p:nth-child(3) {
  background-color: rgb(93, 34, 189);
} */

.nth-child p:nth-child(odd) {
  background-color: rgb(93, 34, 189);
}

/* .nth-child p:nth-child(even) {
  background-color: rgb(93, 34, 189);
} */

.not .examples-text {
  outline: 2px solid blue;
}

.not .examples-text p {
  outline: 1px solid tomato;
}

.examples-text p:not(:last-child) {
  margin-bottom: 15px;
}

.before-after .tag-span {
  outline: 1px solid tomato;
  display: inline-block;
  margin-bottom: 10px;
}

.before-after .tag-div {
  outline: 1px solid tomato;
  margin-bottom: 10px;
}

.before-after .tag-span::before {
  content: '(***';
}

.before-after .tag-div::before {
  content: '(***';
}

.before-after .tag-span::after {
  content: '***)';
}

.before-after .tag-div::after {
  content: '***)';
}

.before-after .text {
  outline: 1px solid tomato;
  margin-bottom: 10px;
}

.before-after .text::before {
  content: '***)';
}

.before-after .text::after {
  content: '***)';
}

.examples-text .text {
  margin-bottom: 50px;
}

.before-after ul {
  text-align: center;
  margin-bottom: 50px;
}

.before-after ul li:not(:last-child) {
  margin-bottom: 25px;
}

.before-after ul li::before {
  content: '';
  background: url(../img/icons/check.svg) 0 0 no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.8s ease 0s;
}

.before-after ul li:hover::before {
  transform: scale(1.5);
}

.before-after ul li::after {
  content: '';
  background: url(../img/icons/check.svg) 0 0 no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-left: 10px;
  transition: all 0.3s ease 0s;
}

.before-after ul li:hover::after {
  transform: rotate(-180deg);
}

.hw-nav ul p::before {
  content: '';
  background: url(../img/icons/check.svg) 0 0 no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.8s ease 0s;
}

.hw-nav ul p:hover::before {
  transform: scale(1.5);
}

.before-after ol {
  text-align: center;
  counter-reset: item;
}

.before-after ol li::before {
  counter-increment: item;
  content: counter(item) '. ';
  color: blue;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}

.before-after ol li:hover::before {
  transform: rotate(-360deg);
}

.before-after ol li:not(:last-child) {
  margin-bottom: 25px;
}

/* ---------------   Game ----------------------- */

.game-container {
  max-width: 830px;
  background-color: #1bd0dd;
  margin: 0 auto;
  padding: 15px;
}

.game-start,
.game-line1,
.game-line2,
.game-line3,
.game-line4,
.game-line5,
.game-line6,
.game-line7,
.game-finish {
  background-color: tomato;
}

.game-start {
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-right: 750px;
  padding-top: 15px;
}

.game-line1 {
  height: 50px;
  margin-right: 350px;
}

.game-line2 {
  height: 40px;
  margin-left: 400px;
}

.game-line3 {
  height: 150px;
  margin-left: 770px;
}

.game-line4 {
  height: 20px;
  margin-left: 250px;
}

.game-line5 {
  height: 120px;
  margin-left: 250px;
  margin-right: 535px;
}

.game-line6 {
  height: 5px;
  margin-left: 250px;
  margin-right: 250px;
}

.game-line7 {
  height: 55px;
  margin-left: 545px;
  margin-right: 250px;
}

.game-finish {
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-left: 522px;
  margin-right: 228px;
  padding-top: 15px;
}

.game-container div:not(:first-child) {
  visibility: hidden;
}

.game-container div:hover + div,
.game-container div:hover {
  visibility: visible;
}

.up-arrow {
  background-color: #cdd0d6;
  display: block;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}

.up-arrow::before {
  content: '\1F845';
  color: blue;
  font-size: 46px;
  display: inline-block;
  margin-right: 15px;
}

.up-arrow::after {
  content: '\1F845';
  color: yellow;
  font-size: 46px;
  display: inline-block;
  margin-left: 15px;
}
